In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv("ipldataset2.csv")
df.head()

,match_id,series_id,match_details,result,Team1,Score1,Team2,Score2,date,venue,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,335982.0,313494.0,"1st match:RCB v KKR at Bangalore- Apr 18, 2008",KKR won by 140 runs,KKR,222.0,RCB,82.0,18/04/08,Bangalore,...,3.0,20.0,20.0,RCB,82.0,10.0,15.1,20.0,NaN,NaN
1,335983.0,313494.0,"2nd match:KXIP v CSK at Mohali- Apr 19, 2008",CSK won by 33 runs,CSK,240.0,KXIP,207.0,19/04/08,Mohali,...,5.0,20.0,20.0,KXIP,207.0,4.0,20.0,20.0,NaN,NaN
2,335984.0,313494.0,"3rd match:DD v RR at Delhi- Apr 19, 2008",DD won by 9 wickets (with 29 balls remaining),RR,129.0,DD,132.0,19/04/08,Delhi,...,8.0,20.0,20.0,DD,132.0,1.0,15.1,20.0,NaN,NaN
3,335986.0,313494.0,"4th match:KKR v DC at Kolkata- Apr 20, 2008",KKR won by 5 wickets (with 6 balls remaining),DC,110.0,KKR,112.0,20/04/08,Kolkata,...,10.0,18.4,20.0,KKR,112.0,5.0,19.0,20.0,NaN,NaN
4,335985.0,313494.0,"5th match:MI v RCB at Mumbai- Apr 20, 2008",RCB won by 5 wickets (with 2 balls remaining),MI,165.0,RCB,166.0,20/04/08,Mumbai,...,6.0,20.0,20.0,RCB,166.0,5.0,19.4,20.0,NaN,NaN

In [20]:
data = df[['Team1','Team2','Score1','Score2','venue']]
data.head()

  Team1 Team2  Score1  Score2      venue
0   KKR   RCB   222.0    82.0  Bangalore
1   CSK  KXIP   240.0   207.0     Mohali
2    RR    DD   129.0   132.0      Delhi
3    DC   KKR   110.0   112.0    Kolkata
4    MI   RCB   165.0   166.0     Mumbai

In [33]:
c = ['KKR','RCB','CSK','MI','DD','SRH','RR','KXIP']
d = ['KKR','RCB','CSK','MI','DD','SRH','RR','KXIP']
e = ['Kolkata','Bangalore','Chennai','Mumbai','Delhi','Hyderabad','Jaipur','Mohali']
for j in range(0,len(c)):
    a = []
    b = []
    for k in range(0,len(d)):
        for i in range(0,len(data)):
            if(j==k):
                break
            if(data.iloc[i][0]== c[j] and data.iloc[i][1]==d[k] and data.iloc[i][4]==e[j]):
                a.append(data.iloc[i][2])
                b.append(data.iloc[i][3])
        if(j==k || a==[] || b == []):
            pass
        else:
            print(c[j],'=',round(sum(a)/len(a)))
            print(d[k],'=',round(sum(b)/len(b)))
            print('-------')

KKR = 174.0
RCB = 162.0
-------
KKR = 163.0
CSK = 146.0
-------
KKR = 164.0
MI = 152.0
-------
KKR = 159.0
DD = 148.0
-------
KKR = 161.0
SRH = 146.0
-------
KKR = 161.0
RR = 146.0
-------
KKR = 163.0
KXIP = 149.0
-------
RCB = 185.0
KKR = 189.0
-------
RCB = 154.0
CSK = 142.0
-------
RCB = 151.0
MI = 146.0
-------
RCB = 157.0
DD = 152.0
-------
RCB = 162.0
SRH = 155.0
-------
RCB = 162.0
RR = 156.0
-------
RCB = 168.0
KXIP = 150.0
-------
CSK = 163.0
KKR = 160.0
-------
CSK = 169.0
RCB = 154.0
-------
CSK = 166.0
MI = 154.0
-------
CSK = 166.0
DD = 151.0
-------
CSK = 168.0
SRH = 151.0
-------
CSK = 172.0
RR = 155.0
-------
CSK = 173.0
KXIP = 153.0
-------
MI = 170.0
KKR = 136.0
-------
MI = 173.0
RCB = 147.0
-------
MI = 170.0
CSK = 148.0
-------
MI = 168.0
DD = 145.0
-------
MI = 167.0
SRH = 145.0
-------
MI = 168.0
RR = 148.0
-------
MI = 168.0
KXIP = 149.0
-------
DD = 164.0
KKR = 152.0
-------
DD = 161.0
RCB = 150.0
-------
DD = 167.0
CSK = 159.0
-------
DD = 166.0
MI = 155.0
-------
DD = 162.0
SRH = 147.0
-------
DD = 163.0
RR = 148.0
-------
DD = 161.0
KXIP = 146.0
-------

ZeroDivisionError: division by zero

In [12]:
c='DD'
d='RCB'
e='Delhi'
for i in range(0,len(data)):
    if(data.iloc[i][0]==c and data.iloc[i][1]==d and data.iloc[i][4]==e):
         a.append(data.iloc[i][2])
         b.append(data.iloc[i][3])
print(c,'=',round(sum(a)/len(a)))
print(d,'=',round(sum(b)/len(b)))

DD = 158.0
RCB = 147.0

In [36]:
data = df[['Team1','Team2','Score1','Score2','venue']]
data.head(50)

   Team1 Team2  Score1  Score2               venue
0    KKR   RCB   222.0    82.0           Bangalore
1    CSK  KXIP   240.0   207.0              Mohali
2     RR    DD   129.0   132.0               Delhi
3     DC   KKR   110.0   112.0             Kolkata
4     MI   RCB   165.0   166.0              Mumbai
5   KXIP    RR   166.0   168.0              Jaipur
6     DC    DD   142.0   143.0  Hyderabad (Deccan)
7    CSK    MI   208.0   202.0             Chennai
8     DC    RR   214.0   217.0  Hyderabad (Deccan)
9   KXIP    MI   182.0   116.0              Mohali
10   KKR   CSK   147.0   152.0             Chennai
11   RCB    RR   135.0   138.0           Bangalore
12    DD  KXIP   158.0   162.0              Mohali
13    MI    DC   154.0   155.0              Mumbai
14   CSK   RCB   178.0   165.0           Bangalore
15   KKR    MI   137.0   138.0             Kolkata
16    DD   RCB   191.0   181.0               Delhi
17    RR   KKR   196.0   151.0              Jaipur
18    DC  KXIP   164.0   167.0  Hyderabad (Deccan)
19   CSK    DD   169.0   172.0             Chennai
20   RCB    DC   156.0   153.0           Bangalore
21  KXIP   KKR   178.0   169.0              Mohali
22    MI    DD   162.0   133.0              Mumbai
23   CSK    RR   109.0   110.0              Jaipur
24   RCB  KXIP   126.0   127.0           Bangalore
25   CSK    DC   144.0   148.0             Chennai
26    RR    MI   103.0   104.0              Mumbai
27    DD   CSK   187.0   188.0               Delhi
28   KKR   RCB   129.0   124.0             Kolkata
29    DC    RR   140.0   141.0              Jaipur
30   CSK  KXIP   181.0   163.0             Chennai
31   KKR    DC   204.0   181.0  Hyderabad (Deccan)
32    DD    RR   156.0   159.0              Jaipur
33   RCB  KXIP   143.0   144.0              Mohali
34   KKR    DD   133.0   110.0             Kolkata
35   CSK    MI   156.0   158.0              Mumbai
36    DD    DC   194.0   182.0               Delhi
37   KKR    MI    67.0    68.0              Mumbai
38    RR   RCB   197.0   132.0              Jaipur
39    DD  KXIP   118.0    94.0               Delhi
40   KKR   CSK   149.0    55.0             Kolkata
41    MI    DC   178.0   153.0  Hyderabad (Deccan)
42   RCB    DD   154.0   158.0           Bangalore
43   KKR    RR   147.0   150.0             Kolkata
44  KXIP    MI   189.0   188.0              Mumbai
45   RCB   CSK   126.0   112.0             Chennai
46   NaN   NaN     NaN     NaN               Delhi
47    DC  KXIP   175.0   178.0              Mohali
48    RR   CSK   211.0   201.0             Chennai
49    MI    DD   176.0   179.0               Delhi